{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}


{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Ticker Symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
        <p>Current Date and Time is <span id="date-time" name="date-time"></span>.</p>
    </form>
    <script>
        var dt = new Date();
        document.getElementById("date-time").innerHTML=dt;
    </script>
{% endblock %}
